{% extends 'women/base.html' %}

{% block title %}AddTovar{% endblock %}

{% block content %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Add Tovar page</h1>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<div class="col-xl-9 col-lg-8 col-md-7">
    <br>
     <form method="POST">
        {% csrf_token %}  <!-- Безопасность -->
         <table>
             {{ form }}   <!-- выводим на экран Форму в виде таблицы -->
         </table>
         <input type="submit" class="btn btn-primary" value="Добавить в БД" >
<!--<button type="button" class="btn btn-primary">Добавить</button> ТАК НЕ РАБОТАЕТ !!! -->
    </form>
    <br>
</div>
{% endblock %}